*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: linear-gradient(170deg,rgb(122, 7, 7),yellow, red);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 540px;
    background: transparent;
    border-radius: 4px;
    box-shadow: 4px 7px 10px rgb(0, 0, 0, .5);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    background: rgb(8, 8, 8);
    box-shadow: 5px 5px 13px rgb(0, 0, 0, .7);
    border-radius: 8px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bold;
    font-size: 55px;
}

.relogio span.tempo{
    font-size: 10px;
}